<!DOCTYPE html>
<html  lang="ro">
    <head>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src="/resurse/js/produse.js" defer></script>
        <link rel="stylesheet" href="/resurse/css/produse.css">
    </head>
    <body>
        <header>
            <%- include("../fragmente/header") %>
        </header>
        <main>
            <div id="filtre">
                <!-- Asezarea inputurilor in mod ordonat si aliniat pe coloane in cadrul paginii de produse se va face printr-un grid bootstrap - clasele row si col predefinite in bootstrap-->
                <div class="row">
                    <div class="col">
                        <label>Nume:
                            <!-- a)În inputul de tip text se va introduce numele produsului. Se poate introduce și partial și se vor afișa toate produsele al căror nume conține acel șir. -->
                            <!-- form control bootstrap -->
                            <!--   nputul de tip textarea va avea un floating label (bootstrap). In cazul validarii esuate a valorii din textarea (vezi cerinta cu validarea
                              din etapa 5), floating label-ul va fi de tip is-invalid (se va seta prin javascript) si se va corecta automat daca valoarea din textarea
                              devine valida.  -->
                              <!-- produse.js 112  clasa invalid/ 146 187 -->
                            <input type="text" id="inp-nume" class="form-control">
                            <small style="display:none; color: red" id="message-invalid-nume">
                                Inputuri gresite!
                                <!-- produse.js validare 111 -->
                            </small>
                        </label>
                    </div>
                    
                    <div class="col">
                        <!-- 7 Cerințe specifice filtre. radio-->
                          <!--Se va face un grup de radiobuttons pentru caracteristica având o singură valoare string. Se vor afișa produsele care au drept valoare pentru acea ca-->
                            <!-- produse.js 149 195 gr_rad-->
                        <div>Recomandare servire:
                            <!-- pentru carcateristica booleană se vor face doua butoane de tip radio cu etichetele "da/nu" sau "are/nu are" 
                                sau alte etichete relevante. Va fi și un al treilea radiobutton în grup, cu valoarea "toate"
                            -->
                            <!-- Fie inputurile de tip checkbox fie cele radio vor fi stilizate ca toogle buttons (din bootstrap). Butoanele deslectate trebuie sa fie
                               desenate in stil outline (adica sa apara doar granita, fara background si textul sa fie colorat), iar la selectare sa apara cu background
                               colorat - vezi clasele btn-outline ). -->
                            <% for(let i in locals.optiuni) { 
                                let idx = parseInt(i);
                            %>
                                <p>
                                    <!--Fie inputurile de tip checkbox fie cele radio vor fi stilizate ca toogle buttons(din bootstrap) outline-->
                                    <input id="i_rad<%-idx+1%>"  name="gr_rad" value="<%-locals.optiuni[idx].recomandare_servire%>" type="radio"/>
                                    <label class="btn btn-outline-primary mb-1" for="i_rad<%-idx+1%>"><%-locals.optiuni[idx].recomandare_servire%></label>
                                </p>
                            <% } %>
                            <p>
                                <!-- produse.css 23-->
                                <input id="i_rad<%-locals.optiuni.length+1%>" name="gr_rad" value="oricare" type="radio" checked/>
                                <label class="btn btn-outline-primary mb-1" for="i_rad<%-locals.optiuni.length+1%>">oricare</label>
                            </p>
                        </div>
                    </div>
                    
                    <div class="col">
                        <label>Descriere:
                            <!-- textarea 166 229 produse.js-->
                            <textarea id="inp-descriere" rows="1" cols="10" class="form-control"></textarea>
                            <small style="display:none; color: red" id="message-invalid-desc">
                                Inputuri gresite!
                                <!--produse.js validare 94-->
                            </small>
                        </label>
                    </div>

                    <div class="col">
                        <label>
                            <!--172  241 produse js input de tip checkbox sau grup de inputuri de tip checkbox (în funcție de tipul de filtru)-->
                            Pret &lt; <%-parseFloat(locals.meanPrice).toFixed(2)%> RON:
                            <input type="checkbox" id="inp-pret" value="<%-parseFloat(locals.meanPrice).toFixed(2)%>">
                            <i class="bi bi-check-square"></i>
                            <i class="bi bi-square"></i>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <!-- input de tip range. Pentru inputul de tip range trebuie sa apara valoarea minima in stanga lui si valoarea maxima in dreapta lui, și de asemenea să se afișeze valoarea selectată (de exemplu în paranteză, după valoarea maximă).-->
                            <!--inp-gramaj 151-->
                            <!-- stilizare in custom-bootstrap.scss la 41-->
                        <label class="form-label">Gramaj minim: <input type="range" id="inp-gramaj" class="form-range" value="<%-minGramaj%>" min="<%-minGramaj%>" max="<%-maxGramaj%>" step="25">
                            <span id="infoRange">(<%-minGramaj%>)</span>

                        </label>
                    </div>
                    <div class="col">
                        <label>Contine cofeina
                            <br>
                            <!--153 209 produse.js-->
                            <select id="inp-contine_cofeina" class="form-select">
                                <option id="sel-toate" selected value="oricare">oricare</option>
                                <option value="Da">da</option>
                                <option value="Nu">nu</option>
                            </select>
                        </label>
                    </div>
                    <div class="col">
                        <label>Luna adaugare:
                            <br>
                           <!--Cerințe specifice filtre - selectul de tip multiplu va fi pentru data.--> 
                           <!-- produse.js 157  214 -->
                            <select multiple id="inp-luna_adaugare" class="form-select">
                                <option id="sel-toate-multiplu" selected value="toate">toate</option>
                                <option value="Ianuarie">ianuarie</option>
                                <option value="Februarie">februarie</option>
                                <option value="Martie">martie</option>
                                <option value="Aprilie">aprilie</option>
                                <option value="Mai">mai</option>
                                <option value="Iunie">iunie</option>
                                <option value="Iulie">iulie</option>
                                <option value="August">august</option>
                                <option value="Septembrie">septembrie</option>
                                <option value="Octombrie">octombrie</option>
                                <option value="Noiembrie">noiembrie</option>
                                <option value="Decembrie">decembrie</option>
                            </select>
                        </label>
                    </div>
                    <div class="col">
                        <label> Ingrediente:
                            <input list="ingrediente" id="inp-ingrediente" class="form-control">
                            <!--169 produse.js-->
                            <datalist id="ingrediente">
                                <% for(let ingredient of locals.ingredients) {%>
                                    <option value="<%-ingredient%>"></option>
                                <% } %>
                            </datalist>
                        </label>
                    </div>
                </div>
            </div>
            <p id="butoane-filtrare">
                <p id="p-suma"></p>
                <!-- top and bottom -->
                <!--8 Un buton cu textul "filtreaza" care va filtra entitatile dupa toate inputurile activate-->
                <!-- 144 onlick 181 produse.js-->
                <!--Butoanele (de filtrare, sortare, resetare) trebuie stilizate cu ajutorul temei bootstrap pentru care ati schimbat culoarea -->
                <!--icon butoane bi bi x ...-->
                <button id="filtrare" class="btn btn-primary my-2"><span><i class="bi bi-filter"></i></span> <span class="text-btn">Filtreaza</span></button>
                <button id="resetare" class="btn btn-primary my-2"><span><i class="bi bi-x"></i></span> <span class="text-btn">Reseteaza</span></button>
                <!--419 produse.js-->
                <br>
                <button id="calculare" class="btn btn-primary mb-2"><span><i class="bi bi-plus"></i></span> <span class="text-btn">Calculeaza suma preturilor afisate</span></button>
                   <!--383 407 produse.js-->
                <div class="row">
                    <label class="col">Criterii de sortare
                        <br>
                        <select id="inp-crit_sortare" class="form-select">
                            <!-- 352 272 produse.js-->
                            <option selected value="pret_gramaj">pret si gramaj</option>
                            <option value="pret_nr_ingrediente">pret si numar de ingrediente</option>
                            <option value="gramaj_nr_ingrediente">gramaj si numar de ingrediente</option>
                            <hr>
                            <option selected value="gramaj_pret">gramaj si pret</option>
                            <option value="nr_ingrediente_pret">numar de ingrediente si pret</option>
                            <option value="nr_ingrediente_gramaj">numar de ingrediente si gramaj</option>
                        </select>
                    </label>
    
                    <label class="col">Tipul sortarii
                        <br>
                        <select id="inp-tip_sortare" class="form-select">
                            <option selected value="crescator">crescator</option>
                            <option value="descrescator">descrescator</option>
                        </select>
                    </label>
                </div>
                <br>
                <button id="sort" class="btn btn-primary mb-2"><span><i class="bi bi-arrow-down-up"></i></span> <span class="text-btn">Sorteaza</span></button>
            </p>
            <section id="produse">
                <div class="grid-produse">
                    <%
                        let count = 0;
                        for(let prod of locals.produse) { 
                            // index js 203 155 144
                    %>
                        
                        
                        <article class="produs <%- prod.categorie_mica %>" id="produs_<%-prod.id %>">
                         <!-- id il folosesc sa selectez fiecare produs in parte-->
                         <!--"produs_"+id,-->
                         <!--Sub imagine, va fi scrisă categoria entitatii și prețul. Articolul cuprinzand entitatea va trebui sa aiba printre eventuale alte clase (atributul class) si numele categoriei-->   
                            <h3 class="nume">Nume: <a href="#" data-bs-toggle="modal" data-bs-target="#myModal"><span class="val-nume"><%- prod.nume %></span></a></h3>
                            <% if(prod.is_new == true) { %>
                                <h4 class="text-light">Produs NOU!</h4>
                            <% } %>
                            <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <!-- This is a Bootstrap class that creates a modal. The fade class adds a fading effect when the modal is shown or hidden. -->
                                <!-- aria-hidden="true": This hides the modal from screen readers when it is not visible.-->
                                <div class="modal-dialog modal-lg">
                                    <!--class="modal-dialog modal-lg": Defines the modal's dialog box and makes it large (modal-lg). You can adjust the size using other classes like modal-sm (small) or modal-xl (extra-large).-->
                                    <div class="modal-content text-dark bg-light">
                                        <!--class="modal-content": This wraps the content of the modal. The modal itself is made up of the content inside this wrapper-->
                                        <div class="modal-header">
                                            <h3 class="modal-title" id="exampleModalLabel">Informatii complete produs</h3>
                                        </div>
                                        <div class="modal-body">
                                            <h4><%- prod.nume %></h4>
                                            <!-- Fiecare caracteristica va fi precizata printr-o pereche de forma nume_caracteristica: valoare_caracteristica. prod.descriere-->
                                            <p>Pret: <span class="pret"><%- prod.pret %> RON</span></p>
                                            <p>Descriere: <span class="descriere"><%- prod.descriere %> </span></p>
                                            <p>Ingrediente: <span class="ingrediente"><%- prod.ingrediente %> </span></p>
                                            <p>Gramaj: <span class="gramaj"><%- prod.gramaj %> g</span></p>
                                            <p>Categorie: <span class="categorie"><%- prod.categorie_mare %> </span></p>
                                            <p>Contine cofeina: <span class="contine_cofeina"><%- prod.contine_cofeina %> </span></p>
                                            <p>Data adăugare: <span class="data_adaugare"><%- prod.data_adaugare %></span></p>
                                            <p>Recomandare servire: <span class="recomandare_servire"><%- prod.recomandare_servire %> </span></p>
                                            <!-- produse.js 149 195 -->
                                            <p>Livrare: <span class="livrare"><%- prod.categorie_mica %> </span></p>
                                        </div>
                                        <div class="modal-footer justify-content-end">
                                            <button type="button" class="btn btn-secondary text-dark" data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- wrap text in function of the image -->
                            <!-- display flex sa il imparta pe coloane -->
                            <div style="display: flex">
                                <div>
                                    <div id="carousel<%- prod.id %>" class="carousel slide c1" data-bs-ride="carousel">
                                        <div class="carousel-inner">
                                            <% for(let i = 0; i < locals.imagini_produse[count].length; i++) { %>
                                                <div class="carousel-item carousel <%- i == 0 ? "active" : "" %>">
                                                    <img class="d-block w-100" src="/resurse/imagini/produse/<%- prod.imagine %>/<%- locals.imagini_produse[count][i] %>" alt="[imagine <%- prod.nume %>]">
                                                </div>
                                            <% } %>
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel<%- prod.id %>" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>

                                        </button>

                                        <button class="carousel-control-next" type="button" data-bs-target="#carousel<%- prod.id %>" data-bs-slide="next">
                                            <!--data-bs-slide="next": This attribute tells the carousel to move to the next slide when the button is clicked.-->
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <!--class="carousel-control-next-icon": This class applies a predefined Bootstrap icon to indicate the "next" direction visually.-->
                                            <!--aria-hidden="true": This attribute hides the element from screen readers, which is useful for decorative elements that do not provide meaningful information.-->
                                            <span class="visually-hidden">Next</span>
                                            <!--class="visually-hidden": This class hides the text visually but still makes it accessible to screen readers, ensuring that users with visual impairments can still understand the button's purpose.-->

                                        </button>
                                    </div>
                                    <p>Categorie: <span class="val-categorie"><%- prod.categorie_mare %></span></p>
                                    <p>Pret: <span class="val-pret"><%- prod.pret %> RON</span></p>
                                </div>

                                <!-- a doua coloana-->
                                <div class="info-prod">
                                    <details><summary>Specificatii</summary>
                                       <!--În a doua coloană, va fi un obiect de tip details cu summary-ul "Specificații" iar în textul inițial ascuns de details vor fi afisate una sub alta incadrul unei liste neordonate (deci fiecare caracteristica pe un rand separat):-->
                                        <p><b>Recomandare servire: </b><i class="val-recomandare_servire"><%- prod.recomandare_servire %></i></p>
                                        <p><b>Ingrediente: </b><i class="val-ingrediente"><%- prod.ingrediente.join(', ') %></i></p>
                                        <p><b>Gramaj: </b><i class="val-gramaj"><%- prod.gramaj %> g</i></p>
                                        <p><b>Data adaugare: </b><time><i class="val-data_adaugare"><%- prod.data_adaugare %></i></time></p>
                                        <p><b>Contine cofeina: </b><i class="val-contine_cofeina"><%- prod.contine_cofeina ? 'Da' : 'Nu' %></i></p>
                                    </details>
                                    <p><b>Descriere: </b><i class="val-descriere"><%- prod.descriere %></i></p>
                                    <p><b>Livrare: </b><i class="val-livrare"><%- prod.categorie_mica %></i></p>
                                </div>
                            </div>
                            <% if (locals.minPretProduse && locals.minPretProduse.some(minProd => minProd.id === prod.id)) { %>
                                <!--some is an array method that tests whether at least one element in the array passes the test implemented by the provided function.-->
                                <!--minProd => minProd.id === prod.id is a  function that checks if the id of the current object in the array matches the id of prod.-->
                                <!--for each minProd in the array, it evaluates whether minProd.id equals prod.id.-->
                                <div style="font-weight: bold;">
                                    Produsul este cel mai ieftin din categoria de <%- prod.categorie_mare %>!
                                </div>
                            <% } %>
                            <a href="/produs/<%-prod.id%>"><b>Pagina inidviduala produs</b></a>
                            <br />
                            <label class="selecteaza-cos">
                                Selectează:
                                <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off">
                                <i class="bi bi-check-square"></i>
                                <i class="bi bi-square"></i>
                            </label>
                        </article>
                    <% 
                        count++;
                    } 
                    
                    %>
                </div>
            </section>
        </main>
        <footer>
            <%- include("../fragmente/footer") %>
        </footer>
    </body>
</html>